[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на glyphicons-полурослики-white.png
Type=Link
URL=https://github.com/loyversefeatures/loyversefeatures.github.io/blob/master/img/glyphicons-halflings-white.png
Icon=text-html
