[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на bonus.jpg
Type=Link
URL=https://github.com/loyversefeatures/loyversefeatures.github.io/blob/master/img/bonus.jpg
Icon=text-html
